[submodule "app.threedee/imgui"]
	path = app.threedee/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libs/win-cpp-deps.cmake"]
	path = libs/win-cpp-deps.cmake
	url = https://bitbucket.org/wincppdeps/win-cpp-deps.cmake.git
[submodule "app.threedee/nuklear"]
	path = app.threedee/nuklear
	url = https://github.com/vurtun/nuklear.git
[submodule "app.imgui/imgui"]
	path = app.imgui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "app.imgui/gl.utilities"]
	path = app.imgui/gl.utilities
	url = https://github.com/wtrsltnk/gl.utilities.git